<div class="container">
	<h4> Edit your login details </h4>
	<form id="edit-tag" action="/edit/<%- currentUser.id %>">
		<div class="row">
			<div class="input-field col s6">
				<label for="firstname">First Name</label>
				<input type="text" id="firstname" name="firstname" class="validate" value="<%- currentUser.firstname%>">
			</div>
			<div class="input-field col s6">
				<label for="lastname">Last Name</label>
				<input type="text" id="lastname" name="lastname" class="validate" value="<%- currentUser.lastname%>">
			</div>
		</div>
		<input type="submit" value="Update Name" class="btn btn-warning">
	</form>
</div>


