<!-- <footer class="clearfix" id="footer">
	<p class="copyright">Copyright 2018</p>
	<p class="message">Created by <a href="https://github.com/glaserbw/" target="blank"><span class="name">Brian Glaser</span></a><p>
</footer> -->

<!-- <footer class="page-footer">
    <div class="container"> © 2018 Copyright Text
    	<a class="grey-text text-lighten-4 right" href="https://github.com/glaserbw/!">Brian Glaser</a>
    </div>
</footer> -->