<footer class="page-footer navbar">
    <div class="container"> Copyright © 2018
    <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/brian-w-glaser">Created by Brian Glaser</a>
    </div>
</footer>