<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper navbar">
    <a href="/" class="brand-logo"><i class="material-icons">wb_sunny</i>Kainan</a>
      <ul id="nav-mobile" class="right">
        <% if(currentUser){%>
        <li><a href="/profile">Hitlist</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
        <%} else{ %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <%}%>
      </ul>
  </div>
</nav>
</div>




        
