<div class="homepage">
	<div class="container">
		<div class="search-bar">
			<p>Find Filipino restaurants near you...</p>
			<form action="/restaurants" method="POST">
				<div class="input-field col s12">
					<i class="material-icons prefix">search</i>
					<input name="search" type="text" id="autocomplete-input" class="autocomplete" style="color: white;" required>
					<label for="autocomplete-input">City, State</label>
				</div>
			</form>
		</div>
	</div>
</div>
