
<div id="search-bar">
	<h4>Find restaurants serving nachos near you...</h4>
	<form action="/nachos" method="POST">
		<div class="input-field col s12">
			<i class="material-icons prefix">search</i>
			<input name="search" type="text" id="autocomplete-input" class="autocomplete" required>
			<label for="autocomplete-input">City</label>
		</div>
	</form>
</div>
