
<div id="search-bar">
	<h4>Find restaurants serving nachos near you...</h4>
	<form action="/nachos" method="GET">
		<div class="input-field col s12">
			<i class="material-icons prefix">search</i>
			<input type="text" id="autocomplete-input" class="autocomplete">
			<label for="autocomplete-input">city/state/zip</label>
		</div>
	</form>
</div>
