
<div id="search-bar">
	<h4>The world's premiere nacho search</h4>
	<div class="input-field col s12">
		<i class="material-icons prefix">search</i>
		<input type="text" id="autocomplete-input" class="autocomplete">
		<label for="autocomplete-input">Where?</label>
	</div>
</div>
