h4 {
	color: #0038A8;
}

#search-bar {
	margin-top: 20%;
}

.navbar {
	background-color: #fcd116;
}

#search-results {
	border-radius: 25px;
    border: 2px solid #fcd116;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px; 
}

#fav-btn {
	border-radius: 25px;
	float: right;
	position: relative;
	margin-right: 5px;
}