h4 {
	font-family: 'Raleway', sans-serif;
	color: #0038A8;
}

/*text style below is redundant for now*/
nav ul li a{
  color: white; 
}    

/*homepage / search formatting*/

.search-bar {
	text-align: center;
	font-size: 2vmin;
	font-size: 2vmax;
	margin-top: 20%;
	margin-bottom: 25%;
	color: #0038A8;
	border-radius: 25px;
    border: 2px solid #fcd116;
}

/*nav bar formatting*/
.navbar {
	font-family: 'Raleway', sans-serif;
	background-color: #0038A8;
	/*background: linear-gradient(to right, #ce1126 , #0038a8);*/
}

.brand-logo {
	margin-left: 1%;
}


/*results page formatting*/
#search-results {
	border-radius: 25px;
    border: 2px solid #fcd116;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px; 
}

/*button formatting*/
.fav-btn {
	border-radius: 25px;
	float: right;
	position: relative;
	margin-right: 5px;
	margin-top:5px;
}

.delete-btn {
	border-radius: 25px;
	float: right;
	position: relative;
	margin-right: 5px;
	margin-top:5px;
	background-color: red;
	color: white;
}




