h4 {
	font-family: 'Raleway', sans-serif;
	color: #0038A8;
}


#search-bar {
	margin-top: 20%;
}


.navbar {
	font-family: 'Raleway', sans-serif;
	background-color: #0038A8;
	/*background: linear-gradient(to right, white , red , blue);*/
}

body {	
	background: url('/img/boodle-fight.jpg') no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
}

.brand-logo {
	margin-left: 1%;
}

#search-results {
	border-radius: 25px;
    border: 2px solid #fcd116;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px; 
}

.fav-btn {
	border-radius: 25px;
	float: right;
	position: relative;
	margin-right: 5px;
	margin-top:5px;
}

.delete-btn {
	border-radius: 25px;
	float: right;
	position: relative;
	margin-right: 5px;
	margin-top:5px;
	background-color: red;
	color: white;
}


